<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/createPost.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script>
        $(document).ready(()=>{
            $('.bg-circle').on('click',function(){
                var bgCircle =$(this).attr('value');
               $('#colorPick').val(bgCircle);
               console.log($('#colorPick').val());
                $('.preview').css('background-color',bgCircle)
            })
            $('#colorPick').change(function(){
                var bgCircle = $(this).val();
                console.log(bgCircle);
                $('.preview').css('background-color',bgCircle);
            })
            $('textarea').on('keyup change keydown keypress',function(){
                var char = $(this).val();
                $('.preview').text(char);
            });
        })
    </script>
    <title>Create Post</title>
</head>
<body>
    <main>
                    <img id="logo" src="feather-image.png" alt="">
                    <a id="tofeed" href="/feed">Back to feed</a>

        <div class="text-area">
            <form action="/addPost" method="post">
                <textarea name="postContent" id="postContent" cols="30" rows="10" placeholder="Type Something...."></textarea>
                <button  id="create-post-btn">Post</button>    
                <input type="color" name="colorPick" id="colorPick" style="display: none;">

            </form>
            <p class="alert">Post is successful</p>
            <div class="bg-section">
                <div class="bg-circle" value="#EFF5F5" style="background-color:#EFF5F5;"></div>
                <div class="bg-circle" value="#FCA74B" style="background-color: #fca74b;"></div>
                <div class="bg-circle" value="#B4CDE6" style="background-color:#B4CDE6 ;"></div>
                <div class="bg-circle" value="#FFF9B0" style="background-color:#FFF9B0 ;"></div>
                <div class="bg-circle" value="#87A2FB" style="background-color:#87A2FB ;"></div>
            </div>
        </div>
        <div class="container-preview">
        <h1>PREVIEW</h1>
        <div class="preview">
        </div>
        </div>
    </main>
   
</body>
</html>