<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="UserSettings.css">
</head>
<body>
    <main>
        <div class="user">
            <img src="icons8-user-64.png" alt="">
            <div><%= name.resname %></div>
        </div>
    </main>
</body>
</html>