<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feed</title>
    <script src=""></script>
    <link rel="stylesheet" href="feed.css">
</head>

<body>
    <nav>
        <div class="search-container">
            <a href="#"><img id="logo" src="" alt=""></a>
            <label>Search <img src="icons8-search-50.png" class="search-icon"> <input id="search" type="text"></label>
        </div>
    </nav>
    <main>
        <div class="left-container">
            <div class="nav-drop-down">
                <a href="#" id="ham-menu"><img src="icons8-menu-rounded-50.png" class="icon" alt=""></a>
                <a href="#" class="drops"><img src="icons8-home-page-48.png" class="icon" alt="">HOME</a>
                <a href="#" class="drops"><img src="icons8-activity-feed-48.png" class="icon" alt="">FEED</a>
                <a href="#" class="drops"><img src="icons8-create-64.png" class="icon" alt="">CREATE</a>
            </div>
        </div>
        <div class="center-container">
            <p class="content-title">Feeds</p>

            <div class="post">
                <div class="post-content">
                    <img src="" alt="">
                </div>
                <div class="post-response-content">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>

            </div>
        </div>

        <div class="right-container">
            <p class="content-title">Trending Feeds</p>

        </div>

    </main>
</body>

</html>