<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
</head>

<body>

    <form>
        <label>User Name<input type="text"></label>
        <label>Email<input type="text"></label>
        <label>Age <input type="text" pattern="[1-100]+" maxlength="3" title="please enter age 1-100"></label>
        <label>Password<input type="text"></label>
        <label>Re-enter Password<input type="text"></label>
        <button>click me</button>
    </form>

</body>

</html>