:root {
    --royal-blue: #151FE2;
    --pinky-blue: #B30DF3;
    --sunflower-light: #e1bc29;
    --white-cream: #F2F4F3;
    --dark-black: #0A0908;
}

* {
    margin: 0;
    color: var(--royal-blue);
}

body {
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--white-cream);
}

.icon {
    max-width: 30px;
}

.search-icon {
    max-width: 23px;
}

nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

#logo {
    max-width: 150px;
    position: absolute;
    top: -4%;
    left: -2%;
}

main {
    display: flex;
    height: max-content;

}

#search {
    border: 0.3px solid black;
    outline: none;
    border-radius: 4px;
    width: 70%;
    height: 20px;
}

.loader {
    display: none;
    width: 100%;
    height: 50px;
}

.user {
    /* User profile picture */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3%;
}

.nav-drop-down {
    /*sidebar drop down*/
    display: flex;
    flex-direction: column;
    height: 300px;
}

.nav-drop-down>a {
    margin-bottom: 20px;
    font-weight: 700;
    text-decoration: none;
}

.search-container>label,
input {
    margin-right: 10px;
    font-weight: 700;
}

.search-container,
.drops {
    display: flex;
    justify-content: left;
    align-items: center;
}

.drops>p {
    margin-left: 5px;
}

#user-name {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1.2px;

}

.nav-drop-down>.drops:hover {
    background-color: var(--sunflower-light);
}

.left-container {
    padding-top: 20px;
    margin-left: 20px;
    width: 20%;
}

.center-container {
    /*Feeds section*/
    border-radius: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 1700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding-top: 20px;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 6px;

}

.post-content {
    border-radius: inherit;
    width: 97%;
    height: 75%;
    background-color: var(--dark-black);

}

.author-details {
    transform: translateX(-20em);
}

.author-details>img {
    max-width: 20px;
}

#author-name {
    display: inline;
}

.post-response-content {
    display: flex;
    transform: translate(5%, 20%);
    margin-top: 0.5%;
    width: 100%;
    font-weight: 700;
    font-size: 10px;

}

.post-response-content>div {
    margin-right: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon-res {
    margin: 3px 3px 1px 3px;
    max-width: 25px;
    padding: 2px;
}


.right-container {
    padding-top: 20px;
    border-radius: 20px;
    background-color: var(--sunflower-light);
    width: 40%;
}

.content-title {
    width: 100%;
    text-transform: uppercase;
    margin: 5px 0 0 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}