:root {
    --royal-blue: #151FE2;
    --pinky-blue: #B30DF3;
    --sunflower-light: #e1bc29;
    --white-cream: #F2F4F3;
    --dark-black: #0A0908;
    --gray-color: #494d4b;
}

* {
    margin: 0;
}

body {
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--white-cream);
}

main {
    display: flex;
    height: max-content;

}


.loader {
    display: none;
    width: 100%;
    height: 50px;
}

.nav-drop-down {
    /*sidebar drop down*/
    display: flex;
    flex-direction: column;
    height: 300px;
}

.nav-drop-down>a {
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    text-decoration: none;
}


.drops {
    display: flex;
    justify-content: left;
    align-items: center;
}

.drops>p {
    color: var(--dark-black);

}

.drops {
    margin-left: 5px;
    width: 75%;
    border-radius: 10px;
}

.nav-drop-down>.drops:hover {
    background-color: var(--white-cream);
}

.left-container {
    position: sticky;
    top:0;
    left:0;
    border-radius: 10px;
    width: 15%;
    height: 100vh;
    color: var(--dark-black);
    background-color: var(--sunflower-light);

}
.low-container{
   position: absolute;
   bottom: 10px;
   left: 20px;
}
#settings{
    display: inline;
 max-width: 40px;
}
.center-container {
    /*Feeds section*/
    height: 1700px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.icon,
.search-icon {
    max-width: 30px;
}

.icon {
    margin-right: 10px;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
}

.search-container {
    color: var(--dark-black);
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px 0 20px 0;
}

#search {
    margin-left: 20px;
    width: 50%;
    height: 30px;
}

#logo {
    max-width: 100px;

}
.user{
    display: flex;
}
.user>p{
    color: var(--royal-blue);
}
.post{
    color:var(--dark-black);
    padding: 20px;
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}

.author-details {
    display: flex;

    width: 100%;
    height: 25px;

}

.author-details>img {
    max-width: 25px;
}

#author-name {
    font-weight: 500;

    margin: 2px;

}
.post-content {
    padding: 1em;
    margin-top: 5px;
    border-radius: 20px;
    height: 200px;
}
#color1{background-color:#EFF5F5 ;}
#color2{background-color: #FCA74B;}
#color3{background-color: #B4CDE6;}
#color4{background-color: #FFF9B0;}
#color5{background-color: #87A2FB;}
#colordefault{background-color: azure;}
.post-response-content{
    margin-top: 5px;
    width: 100%;
    display: flex;
    text-align: center;
}
.post-response-content>div>img{
    max-width: 25px;
}
.post-response-content>div>p{
    font-size: 10px;
}
.icon-res {
    margin: 3px 3px 1px 3px;
    max-width: 25px;
    padding: 2px;
}


.right-container {
    position: absolute;
    right: 0;
    padding:10px;
    border-radius: 7px;
    background-color: var(--royal-blue);
    width:30%;
}

.trending {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    width: 75%;
    height:70vh;
    border-radius: 10px;
    padding: 10px;
}
.trends{
    margin: 20px;
}
.trends>p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:italic;
    letter-spacing: 2px;
    margin-top: 10px;
}
.content-title {
    width: 100%;
    text-transform: uppercase;
    margin: 10px 0 0 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

