:root {
    --royal-blue: #151FE2;
    --pinky-blue: #B30DF3;
    --sunflower-light: #e1bc29;
    --white-cream: #F2F4F3;
    --dark-black: #0A0908;
}

* {
    margin: 0;
    outline: none;
    font-weight: 600;
    outline: none;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--sunflower-light);

}

main {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 110px;
    background: linear-gradient(to right bottom, #151fe2, #561be7, #7a17ec, #9812f0, #b30df3)center center no-repeat;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#logo {
    max-width: 120px;
    position: absolute;
    top: 0%;
    left: 1%;
}

#error {
    width: 100%;
    height: fit-content;
    color: red;
    display: none;
}

a {
    margin-left: 20px;
    text-decoration: none;
}

#login {
    margin: 30px 30px 0 0;
    float: right;
    padding: 10px;
    border: 2px solid var(--sunflower-light);
    border-radius: 10px;
    color: var(--white-cream);
}

h1 {
    letter-spacing: 2px;
    transform: translate(-6.5em, 3em);
    color: var(--royal-blue);
}

form {
    transform: translateY(30%);
    color: var(--dark-black);
    background-color: var(--white-cream);
    box-shadow: 3px 3px 3px var(--white-cream);
    width: 500px;
    padding: 50px 20px 50px 20px;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

input,
button {

    height: 21px;
}

label {
    font-family: 'Noto Serif', serif;
    margin-bottom: 17px;
}


input {
    text-indent: 5px;
    float: right;
    width: 200px;
    border-radius: 7px;
}

button {
    margin: 30px 0 0 30%;
    background-color: var(--royal-blue);
    color: var(--white-cream);
    height: 27px;
    width: 175px;
    border: 0.2px solid var(--dark-black);
    border-radius: 7px;
    letter-spacing: 2px;
}